html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: white;
}

body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#logo {
  max-width: 500px;
  height: auto;
}

#container {
  text-align: center;
}

#c-soon {
  font-size: 18px;
}


#coded-with-love  {
  position: absolute;
  width: 20px;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
